{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "import",
    "react",
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "semi": true, "tabWidth": 4}],
  },
  "globals": {
    "document": true
  }
}